
/* Your CSS Code here. */

.holder{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#Box1{
	background-color: red;
    font-size: 30px;
}
#Box2{
	background-color: blue;
	font-size: 30px;
}
#Box3{
	background-color: green;
	font-size: 30px;
}
#Box4{
	background-color: green;
	font-size: 30px;
}
#Box5{
	background-color: green;
	font-size: 30px;
}
#Box6{
	background-color: green;
	font-size: 30px;
}
#Box7{
	background-color: green;
	font-size: 30px;
}

.item{
  width: 150px;
  height: 150px;
}