
/* Your CSS Code here. */

#container{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#Box1{
	width: 100px;
	height: 100px;
	background-color: red;
    font-size: 30px;
}
#Box2{
	width: 100px;
	height: 100px;
	background-color: blue;
	font-size: 30px;
}
#Box3{
	width: 100px;
	height: 100px;
	background-color: green;
	font-size: 30px;
}
#Box4{
	width: 100px;
	height: 100px;
	background-color: green;
	font-size: 30px;
}
#Box5{
	width: 100px;
	height: 100px;
	background-color: green;
	font-size: 30px;
}
#Box6{
	width: 100px;
	height: 100px;
	background-color: green;
	font-size: 30px;
}
#Box7{
	width: 100px;
	height: 100px;
	background-color: green;
	font-size: 30px;
}